<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.test_two_activities_with_sound">

    <application
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.Test_two_activities_with_sound"
            tools:targetApi="31">
        <activity
                android:name=".SecondaryActivity"
                android:configChanges="orientation|keyboardHidden|screenSize"
                android:exported="false"
                android:label="@string/title_activity_secondary"
                android:theme="@style/Theme.Test_two_activities_with_sound.Fullscreen"/>
        <activity
                android:name=".ActivityWithBackButton"
                android:exported="false"
                android:label="@string/title_activity_with_back_button"
                android:theme="@style/Theme.Test_two_activities_with_sound.NoActionBar"/>
        <activity
                android:name=".MainActivity"
                android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>